bin/*
log/*
.actionScriptProperties
.actionScriptProperties_admin
.actionScriptProperties_app
.flexProperties
.gems
.git_heroku/*
.project
TODO
capelloherokucom.tmproj
test/*
tmp/*
config/database.yml