body {margin:20px; padding:0px;font-size:15px; font-family:Georgia; color:#555; background-color:#deb887;}

input {border:1px solid #555; color:#333;font-size:10px; background-color:#c0c0c0; padding:5px; font-family: Verdana;}
input[type=text] {  width:100px; }
input[type=password] {  width:100px; }

input[type=text].lite {  width:10px; }

a {color:#777;text-decoration:none;}
a:hover {color:#999;}

#error-box a {color:#8A1A28;}
#warning-box a {color:#FFA500;}
#notice-box a {color:#8b98ab;}

#container {width:95%; margin:0 auto; border:1px solid #333; background-color:#fff;}

#right {padding-top:20px; font-size:16px; background-color:#fff; width:310px; float:right;}
#content-box {min-height:500px; background-color:#fff; border-right:0 px solid #333;}

#footer {padding-top:0px;background-color:#fff; width:350px; margin:0px auto; font-size:9pt;}

.positive {color:rgb(0,128,64);}
.negative {color:rgb(98,21,18);}

#search-div {position:absolute; padding:20px; top:20px; left:20px; width:665px; background-color:#333;}
.q {color:#8A1A28;}
.r {color:#8b98ab;}

.lite {background-color:#DEB887; border:0px; border-bottom:1px solid #ccc; text-align:center; width:10px;}

#rss {
  color:#333;
  margin-top:30px;
}

#rss .feedTitle {
  margin:20px;
  padding:5px;
  border:1px solid #ccc;
  font-size:18px;
}