<!-- Info Box --> 
<% unless flash.length == 0 %>
  <div id="info-box">
    <% flash.select { |k,m| [:error,:notice,:warning].include?(k) && !m.nil? }.each do |key,msg| %>
        <div id="<%= key %>-box">
          <%= link_to_function "x", "new Effect.Fade('#{key}-box')", :class => "close-#{key}" %>
          <%= msg %>
        </div>
      <% flash[key] = nil %>
    <% end %>
  </div>
<% end %>
<!-- /Info Box -->